/* Partie General */
*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    background-color: #8de052;
}

h1, h2, h3{
    font-family: 'Cabin', sans-serif;
}

h2, h3 {
    text-align: center;
 }

p{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
   margin: 0 auto;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 45px 20px;
   background-color: #FFFFFF;
   border-radius: 30px;
}

/* Header + Navbar */

/* Actions, Associations */

/* Gestion des dechets */

/* Contact and form */

/* Footer */
