/* Partie General */
*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    background-color: #8de052;
}

h1, h2, h3, h4, h5{
    font-family: 'Cabin', sans-serif;
    margin: 0 auto;
}

h2, h3 {
    text-align: center;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 45px 20px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

/* Header + Navbar */
.headContainers{
   
    padding: 0px 100% 0 0;
    background: green;
}

.listNav{
  
}

.menu{
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    

}
.menu a{
    text-decoration:none;
    color: white;
}
.logoGreenCityNavBar{ 
    height: 100%;
    width: 80px;
    
}

.liNavbar{
    padding: 14px  80px;
    background-color: green;
}

.liNavbar:hover {
    background-color: #8de052;
    color: black;

}

.imageCarrousel {
    width: 100%;
    height: 250px;
}
/* Actions, Associations */

.actions-title {
    margin-bottom: 10px;
}
.actions {
    display: flex;
    flex-direction: column;
}

.actions-pic {
    width: 100%;
    margin-bottom: 10px;
}
.association{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assoAction:active ~ .association div{
    visibility: hidden;
}
.association h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.association figure{
    margin-bottom: 20px;
}

/* Gestion des dechets */

.margin {
    margin-bottom: 45px;
}

.look {
    font-weight: 600;
    color: #80BCE8;
    font-style: italic;
}

#conseil, #collect {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#waste  {
    line-height: 1.50em;
}

#waste h3 {
    color: #80BCE8;
    font-size: 26px;
    font-weight: 400;
}

#conseil li {
    color: #333333;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    margin-bottom: 2%;
}

#waste img {
    border-radius: 10px;
}

/* Map */

.map {
    display: none;
    justify-content: space-between;
}

#mapTitle {
    padding-left: 40px;
}

.map__image {
    width: 50%;
    padding-left: 2%;
}

.map__image path{
    fill: #80BCE8;
    stroke-width: #FFFFFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__image path:hover {
    fill: #5F70AD;
}

.map__image svg {
    width: 100%;
    height: 350px;
}

.map__list{
    width: 50%;
    margin-top: 80px;
}

.map__list a{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

#allList {
    list-style: none;
}

#allList li {
    margin-top: 20px;
}

.listZone {
    position: absolute;
    border: 0;
    height: 1px;
    width: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6 & IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.listZone:target {
    position: relative;
    height: auto;
    padding: initial;
    clip: initial;
}

/* Contact and form */

/* Footer */

footer{
    background-color: #056837;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
}

/* Media query : Gestion des déchets */

 /* Mobile */

 @media only screen and (max-width: 414px) {
    .actions {
        width: 100%;
    }
    .actions-title {
        font-size: 100%;
    }
  }
  
  /* Tablet */
  @media only screen and (min-width: 415px) and (max-width: 768px) {
    .actions {
        flex-direction: row;
        margin-left: 10px;
        margin-right: 10px;
    }
  }
  
  /* Desktop */
  @media only screen and (min-width: 769px) {
    .actions {
        flex-direction: row;
        margin-left: 10px;
        margin-right: 10px;    }
    .actions-title {
        font-size: 36px;
    }
  }

@media screen and (min-width: 769px) {
    #trash {
        order: 2;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #waste img {
        width: 45%;
        height: 100%;
    }

    #waste article {
        width: 45%;
    }
}

@media screen and (min-width: 1025px) {
    #waste p {
        line-height: 1.75em;
    }

    #waste img {
        width: 32%;
        height: 100%;
    }

    #waste article {
        width: 55%;
    }

    .map {
        display: flex;
    }
}

/* Media query : Footer */

@media screen and (max-width:736px){
    footer{
    flex-direction: column;
    align-items: center;
    }
}
